.vscode/
# Environment variables and secrets
.env
.env.*
!.env.example
!.env.*.example
*.env
!*.env.example
.python-version
.venv/
wheelhouse/
build/
.python-version
# Log files and folders
log/
logs/
*.log
**/*log*/
**/*logs*/
test*
cache/
ignore/
*.ipynb*
*.ipynb*/
*pycache*
*pycache*/
*.DS_Store*
*.DS_Store*/
dist/
*egg-info/
__*
!__init__.py
TODO
agentsociety-sim
agentsociety-ui
agentsociety_data/
.agentsociety-benchmark/